{% extends 'base.html' %}

{% block content %}
<h2>Todas as Empresas</h2> <br>
<section>
    <p>Muitos resultados?</p> <br>
</section>
<form action="{% url 'companies:search' %}">
    <p>
        <input type="text" name="query_name" id="id_query" placeholder="Nome da Empresa"/>
        <select id="id_query_city" name="query_city">
            <option selected>Cidade</option>
            {% for city in city_list %}
            <option value="{{ city.city }}">{{ city.city }}</option>
            {% endfor %}
        </select>
        <select id="id_query_job" name="query_job">
            <option selected>Serviço</option>
            {% for job in job_list %}
            <option value="{{ job.job }}">{{ job.job }}</option>
            {% endfor %}
        </select>
        <select id="id_query_score" name="query_score">
            <option selected>Avaliação</option>
            <option value="0.0">0</option>
            <option value="1.0">1</option>
            <option value="2.0">2</option>
            <option value="3.0">3</option>
            <option value="4.0">4</option>
            <option value="5.0">5</option>
            <option value="6.0">6</option>
            <option value="7.0">7</option>
            <option value="8.0">8</option>
            <option value="9.0">9</option>
            <option value="10.0">10</option>
        </select>
    </p> <br>
    <button type="submit">Filtrar</button>
</form>
{% if company_list %}
<section class="lista-de-cards">
    {% for company in company_list %}
    <article class="card">
        <a href="{% url 'companies:detail' company.user_id %}">{{company.name}}</a>
        <p>Avaliação: {{ company.avg_score }}</p>
        <p>CNPJ: {{ company.cnpj }}</p>
        <p>Cidade Sede: {{ company.city }}</p>
        <p>Serviço: {{ company.job }}</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhuma empresa.</p>
{% endif %}

{% endblock content %}