{% extends 'base.html' %}


{% block content %}

<h2>Pedido de Orçamento para {{ company.name }} </h2> 
<p class="text"> Escreva uma mensagem especificando a data de mudança e endereços de saída e chegada. Não se esqueça de deixar seu contato!</p>
    
    
    <form action="{% url 'companies:create_pedido' company.user_id %}" method="post">
        
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit">Fazer Pedido</button>
        
    </form>
    
    
    <p><a href="{% url 'companies:detail' company.user_id %}">Voltar para a página da empresa</a></p>

{% endblock content %}
