{% extends 'base.html' %}

{% block content %}


<h2>Resultado da Busca</h2>
{% if company_list %}
<section class="lista-de-cards">
    {% for company in company_list %}
    <article class="card">
        <a href="{% url 'companies:detail' company.user_id %}">{{company.name}}</a>
        <p>Avaliação: {{ company.avg_score }}</p>
        <p>CNPJ: {{ company.cnpj }}</p>
        <p>Cidade: {{ company.city }}</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhuma empresa.</p>
{% endif %}

{% endblock content %}