{% extends 'base.html' %}

{% block content %}

<h1>Bem Vindo!</h1> 
<p class="text">A leva lá é a mais moderna plataforma de conexão entre você e o seu provedor de mudanças!</p> 
<p class="text">Nela, você que deseja se mudar, pode procurar empresas que estejam disponíveis para fazer sua mudança e orçar 
    o quanto custaria para levar seus pertences ao seu novo lar. 
</p> 
<p class="text">
    Mas não para por ai, você que é dono de uma companhia de mudanças, pode se listar no nosso site para começar 
    a aparecer como sugeridos para potenciais clientes.
</p> 
<p class="text">
    Situação favorável para ambas as partes, não é mesmo?! E você, está esperando o que para se cadastrar no levaLá!?
</p>
{% endblock content %}