{% extends 'base.html' %}

{% block title %}
{{company.user.name}}
{% endblock title %}

{% block content %}
<h2>{{company.user.name}}</h2>

<section class="dados-de-filme">
    <ul class="infos">
        <li><h3>infos:</h3></li>
        <li>Cnpj: {{ company.cnpj }}</li>
        <li>Tel: {{ company.tel }}</li>
        <li>Job: {{ company.job }}</li>
        <li>City: {{ company.city }}</li>
    </ul>
</section>

<section>
    {% if user.is_company %}
    <button><a href="{% url 'companies:update_company_profile' user.id %}">Altere seu perfil</a></button>
    {% endif %}
</section>

{% endblock content %}