{% extends 'base.html' %}

{% block title %}
{{company.user.name}}
{% endblock title %}

{% block content %}
<h2>{{company.name}}</h2>

<section class="dados-da-empresa">
    <img src={{ company.logoURL }} width="100"> </a> <br>
    <ul class="infos">
        <li><h3>Informations:</h3></li>
        <li>Cnpj: {{ company.cnpj }}</li>
        <li>Tel: {{ company.tel }}</li>
        <li>Job: {{ company.job }}</li>
        <li>City: {{ company.city }}</li>
    </ul> <br>
    <h3>Avaliações</h3>
    <ul>{% if pedidos_list %}
        {% for comment in comments_list %}
            {% for pedido in pedidos_list %}
                {% if comment.pedido_id == pedido.id %}
                    <figure>
                        <blockquote>
                            "{{ comment.review }}". Nota: {{ comment.score }}
                        </blockquote>
                        <figcaption>— {{ comment.pedido.user.username }}
                    </figure>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}</ul>
</section>

<section>
    {% if user.is_authenticated%}

        {% if user.is_client %} <!-- Se for cliente -->
        <button><a href="{% url 'companies:create_pedido' company.user_id %}">Faça seu pedido de orçamento</a></button>
        <button><a href="{% url 'companies:create_comment' company.user.id  %}">Avalie seu pedido</a></button>
        {% endif %}

        {% if user.id == company.user.id %} <!-- Se for a propria companhia -->
            <br><h2>Pedidos</h2> <br>
            {% if pedido_list %}
                <small>Você ainda não recebeu pedidos</small>
            {% else %}
            {% for pedido in pedidos_list %}
                <strong>{{ pedido.user.username }}</strong> <small>-{{ pedido.datetime }} </small>
                {{ pedido.body }} <br> <br>
            {% endfor %}
            {% endif %}

        <button><a href="{% url 'companies:update_company_profile' user.id %}">Altere seu perfil</a></button>
        {% endif %}
    {% endif %}
</section>

{% endblock content %}