{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} Leva-lá {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'logo.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <header id="cabecalho-principal">
        <a href="{% url 'index' %}"> <img src="{% static 'levala branco.png' %}" width="100"> </a>
        <h1> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp levaLá</h1>
        <nav id="navegacao-principal">
            {% if user.is_authenticated%}
            <li>Bem vindo {{ user.username }}</li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'companies:list' %}">Buscar empresas</a></li>
                {% if user.is_client %}
                <li><a href="{% url 'profile' user.id %}">Perfil</a></li>
                {% endif %}
                {% if user.is_company %}
                <li><a href="{% url 'companies:detail' user.id %}">Página da Empresa</a></li>
                {% endif %}
            {% else %}
            <li><a href="{% url 'register' %}">Registrar</a></li>
            <li><a href="{% url 'login' %}">Login</a> </li>
            <li><a href="{% url 'companies:list' %}">Buscar empresas</a></li>
            {% endif %}
        </nav>

    </header>
    <main id="conteiner-principal">
        {% block content %}
        {% endblock content %}
    </main>
    <footer id="rodape-principal">
        <p>
            <small>Copyright 2022</small>
        </p>
    </footer>
</body>

</html>