{% extends 'base.html' %}

{% block content %}
<h2>Todos os Empresas</h2>
<section>
    <p>Muitos resultados? <a href="{% url 'companies:search' %}">Filtrar Empresas</a></p>
</section>
{% if company_list %}
<section class="lista-de-cards">
    {% for company in company_list %}
    <article class="card">
        <a href="{% url 'companies:detail' company.id %}"></a>
        <p>{{ company.cnpj }} ({{ company.city }})</p>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Não foi encontrado nenhuma empresa.</p>
{% endif %}

{% endblock content %}